
.itemCard {
  position: relative; 
  
}


.saleBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  z-index: 10; 
  font-size: 12px;
  text-transform: uppercase;
}